* {
    background-color:rgb(106, 109, 98);
    padding: 0px;
    margin: 0px;
}


.players-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 5vw;


.option-container {
    display: flex;
    justify-content:center;
    align-items: center;
}


.option-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vh;
    gap: 2vh;
}


img {
    width: 200px;
    height: 200px;
}



button {
    padding: 10px 20px;
    font-size: 16px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    color:aliceblue;
    background-color: slategray;
    border-top-color: red;
    border-left-color: red;
    border-right-color: rgb(0, 195, 255);
    border-bottom-color: rgb(0, 195, 255);

    scale: 1;
    transition: scale  0.5s ease;
}

button:hover {
    scale: 1.1;
    transition: scale  0.5s ease;
}

button:active {
    filter: invert(30%) brightness(75%);
}