/* general stuff */
* {
    padding: 0px;
    margin: 0px;
}

body {
    --color-primary: #d5e5d5; /*60%*/
    --color-secondary: #7d7d9a; /*30%*/
    --color-tertiary: #EB7B7B; /*10%*/
    --color-tertiary-lighter: #ce9797; /*10%*/
    --color-text: #2f3944;
    --color-text-contrast: #ebe8e4;
    --color-text-contrast-placeholder: #dddbd6;
    --color-not-ready: #CF4930;
    --color-ready: #47B85E;
    
    background-color: var(--color-primary);
    color: var(--color-text);
    font-family: 'Times New Roman', Times, serif;
}


/* nav */

nav {
    /* border: 5px solid orange; */
    padding: 1vh;
    background-image: linear-gradient(to left, var(--color-secondary-contrast) , var(--color-secondary));
    /* background-color: var(--color-primary-contrast); */
    box-shadow: 0px 1px 3px 2px rgb(73, 73, 73);
    height: 30px;
}

nav ul {
    display: flex;
    justify-content:flex-end;
    list-style-type: none;
    gap: 3vh;
    
}

nav a {
    box-shadow: 3px 3px 5px black;
    background-color: var(--color-tertiary);
    padding: 3px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 24px;
}

nav a:hover {
    color: rgb(207, 207, 207);
    border-color: rgb(207, 207, 207);
}

nav a:active {
    display: inline-block;
    box-shadow: none;
    transform: translate(1px, 1px);
}

/* title */
.game-title {
    position: relative;
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 50%;
    font-size: 2rem;
    margin-top: 20vh;
    margin-bottom: 5%;
    border-bottom: 5px solid black;
    border-radius: 2%;
    animation: fade linear 1.5s;
}


.game-title #title-1 {
    position: relative;
    color: #000000;
    text-align: center;
    z-index: 2;
}

.game-title #title-2 {
    position: relative;
    text-align: center;
    color: #000000;
    z-index: 2;
}

.game-title #top-border {
    border-top: 5px solid black;
    border-radius: 2%;
    z-index: 0;
}

#logo-img {
    position: absolute;
    width: 350px;
    height: 350px;
    left: 50%;
    transform: translate(-50%, -54.5%);
    z-index: 1;
    /* opacity: ; */
    top: 0;
    z-index: 0;
}


/* join/create game */

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* width: 100vw; */
    box-sizing: border-box;
    /* border: 5px solid var(--color-secondary); */
    border-radius: 10px;
    opacity: 0;
    animation: fade 1.5s linear 0.5s 1 forwards;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.create-join-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #737392;
    border: 1px solid #737392;
    border-radius: 20px;
    gap: 50px;
    opacity: 0;
    padding: 2vw;

    animation: fade 0.5s linear 0.0s 1 forwards;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

.join-container {
    display:flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: #9898b9;
    border: 1px solid #9898b9;
    border-radius: 10px;
    padding: 5vw;
}

.create-join-container div {
    display:flex;
    flex-direction: column-reverse;
    gap: 30px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.create-game-container {
    display:flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: #9898b9;
    border: 1px solid #9898b9;
    border-radius: 10px;
    padding: 5vw;
}

.create-join-container button {
    /* width: 30%; */
    height: 10%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15%;
    background-color: var(--color-secondary);
    border: 4px solid var(--color-secondary);
    color: var(--color-text-contrast);
    font-size: 3vh;
}

.create-join-container input {
    font-size: 16px;
    border-radius: 5px;
    background-color: var(--color-secondary);
    border: 4px solid var(--color-secondary);
    color: var(--color-text-contrast);
}

.create-join-container input::placeholder {
    color: var(--color-text-contrast-placeholder);
    /* font-size: 2vh; */
}


.join-container div {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 25%;
}

/* server status section */
#server-status {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 100%;
    left: 0%;
    z-index: 2;
    gap: 5px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-top: 2%;
}

.server-off {
    color: var(--color-not-ready);
}

.server-on {
    color: var(--color-ready);
}

/* wait for players */
.wait-container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-size: 4vw;
}

/* play page */
.players-container {
    display:none;;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* border: 5px solid blue; */
}

.player-container {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    align-items: center;
}

.score {
    font-size: 4vh;
    font-weight: 800;
}

#player1-ready {
    color: var(--color-not-ready);
    border: 2px solid var(--color-secondary);
    border-radius: 5px;
    display: inline-block;
    padding: 1%;
    font-size: 16px;
    background: var(--color-secondary);
}

#player2-ready {
    color: var(--color-not-ready);
    border: 2px solid var(--color-secondary);
    border-radius: 5px;
    display: inline-block;
    padding: 1%;
    font-size: 16px;
    background: var(--color-secondary);
}


.title {
    position: absolute;
    left: 16%;
    transform: translateX(-100%);
    font-size: 24px;
}

.option-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* min-height: 15vh; */
    align-items: center;
    border: 4px dotted var(--color-secondary);
    border-radius: 10px;
    width: 55vw;
    height: 15vh;
    /* height: 100%; */
    padding: 1vh;
    flex-shrink: 1;
}

@media(max-width: 300px){
    .option-container {
        flex-direction: column;
    }
}


.option-container div {
    width: 30%;
    height: 99%;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: stretch;
    font-size: 24px;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background-color: var(--color-secondary);
    /* border: 4px solid var(--color-secondary); */
}

.card-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: stretch;
    font-size: 24px;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background-color: var(--color-secondary);
    border: 4px solid var(--color-secondary);
    color: var(--color-text);
    scale: 1.0;
    transition: scale  1.0s ease;
}

button:hover {
    color: var(--color-tertiary-lighter);
    border-color: var(--color-tertiary);
}

button:active {
    color: var(--color-text-contrast);
    background-color: var(--color-tertiary-lighter);
    border-color: var(--color-tertiary-lighter);
    
}

.card-container i {
    font-size: 72px;
    margin: auto;
}

#bg-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--color-primary);
    filter: opacity(35%);
}

/* @media (prefers-reduced-motion: no-preference) {
    #bg-canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: var(--color-primary);
    }
} */

button i.bump-up {
    animation-name: bump-up;
    animation-duration: 2s;
    animation-timing-function: ease;
    /* animation-direction: alternate; */
    /* animation-iteration-count: infinite; */
}

/*animations */
@keyframes awaiting {
    from {scale: 1.0;}
    to {scale: 1.1;}
    100% {scale: 1.0;}
}

@keyframes bump-up {
    0% {transform: translateY(0px);}
    50% {transform: translateY(-10px);}
    100% {transform: translateY(0px);}
}

#winner-text-container {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 20vh;
}

#winner-text {
    animation-name: awaiting;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;

    
}


/* about page */
.inner-about {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */
footer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    gap: 20vw;
    width: 80%;
    justify-content: center;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    padding: 1%;
}

footer button {
    background-color: var(--color-secondary);
    color: var(--color-text-contrast);
    padding: 5px;
    border-radius: 5px;

}

/* modals */

.modal-container {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(58, 58, 58, 0.4);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(58, 58, 58, 0.8);
    color: var(--color-text-contrast);
    padding: 2% 5% 15% 5%;
    z-index: 10;
    width: 30%;
    height: 15%;
}
.modal .modal-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: start;
}

.modal ul {
    list-style-type: none;
}

.modal ul li {
    margin-bottom: 1rem;
}

.modal ul li a {
    color: var(--color-text-contrast);
}

.modal button {
    position: absolute;
    top: 5%;
    left: 90%;
    font-size: 1.2rem;
    color: var(--color-text-contrast);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.3vh 0.6vw;
    box-shadow: none;
    outline: none;
    border: 1px solid black;
}

.modal button:hover {
    color: var(--color-not-ready);
    cursor: pointer;
}